<div class="backdrop"></div>
<div id="navigation">
    <header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav" aria-label="Main Navigation">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : ''; %>" href="/" draggable="false">
                        Dashboard
                    </a>
                </li>
                <% if(isAdmin) { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/admin' ? 'active' : ''; %>" href="/admin" draggable="false">
                            Admin
                        </a>
                    </li>
                <% } %>
            </ul>
            <ul class="main-header__options">
                <li class="main-header__item" id="main-header__last-item">
                    <a class="<%= path === '/settings'; %>" href="/settings" draggable="false">
                        Settings
                    </a>
                </li>
                <li class="main-header__item" id="main-header__last-item">
                    <a class="<%= path === '/logout'; %>" href="/logout" draggable="false">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<div id="page-content">
    <nav class="mobile-nav" aria-label="Mobile Main Navigation">
        <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : ''; %>" href="/" draggable="false">
                    Dashboard
                </a>
            </li>
            <% if(isAdmin) { %>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin' ? 'active' : ''; %>" href="/admin" draggable="false">
                        Admin
                    </a>
                </li>
            <% } %>
        </ul>
        <ul class="mobile-nav__options">
            <li class="mobile-nav__item">
                <a class="<%= path === '/settings'; %>" href="/settings" draggable="false">
                    Settings
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/logout'; %>" href="/logout" draggable="false">
                    Logout
                </a>
            </li>
        </ul>
    </nav>

    <!-- closing div tag in end.ejs -->