<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/content/login.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
<header class="main-header">
    <div id="daily-dash-banner">
        <p>Daily Dash</p>
    </div>
</header>
<div class="login-page">
    <div class="login-area">
        <% if(infoMessage) { %>
            <div class="info-message"><%= infoMessage; %></div>
        <% } %>
        <% if(errorMessage) { %>
            <div class="error-message"><%= errorMessage; %></div>
        <% } %>
        <form action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input type="text" name="username" placeholder="Username" required value="<%= username; %>">
            </div>
            <div class="input-container">
                <i class="fa fa-lock icon"></i>
                <input type="password" name="password" placeholder="Password" required value="<%= password; %>">
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Click here to get access: <a href="/signup">Sign Up</a></p>
        <p>Forgot your password? <a href="/password-reset">Reset Password</a></p>
    </div>
</div>

<%- include('includes/end.ejs') %>