<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/content/settings.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
<%- include('includes/navigation.ejs') %>
<div class="settings-page">
    <div class="settings-area">
        <% if(infoMessage) { %>
            <div class="info-message"><%= infoMessage; %></div>
        <% } %>
        <% if(errorMessage) { %>
            <div class="error-message"><%= errorMessage; %></div>
        <% } %>
        <form action="/settings" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'username') ? 'invalid' : '' %>"
                        type="text"
                        name="username"
                        placeholder="Username"
                        value="<%= username; %>"
                        required>
            </div>
            <div class="input-container">
                <i class="fa fa-solid fa-address-card icon"></i>
                <input
                        class="half-width <%= errors.find(e => e.param === 'first_name') ? 'invalid' : '' %>"
                        type="text"
                        name="first_name"
                        placeholder="First Name"
                        value="<%= first_name; %>"
                        required
                >
                <input
                        class="half-width <%= errors.find(e => e.param === 'last_name') ? 'invalid' : '' %>"
                        type="text"
                        name="last_name"
                        placeholder="Last Name"
                        value="<%= last_name; %>"
                        required
                >
            </div>
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                        type="text"
                        name="email"
                        placeholder="E-Mail"
                        value="<%= email; %>"
                        required>
            </div>
            <div class="input-container">
                <i class="fa fa-solid fa-house icon"></i>
                <input
                        class="half-width <%= errors.find(e => e.param === 'home_latitude') ? 'invalid' : '' %>"
                        type="number"
                        name="home_latitude"
                        placeholder="Home Latitude"
                        value="<%= home_latitude; %>"
                        min="-90" max="90" step="0.00001"
                        required
                >
                <input
                        class="half-width <%= errors.find(e => e.param === 'home_longitude') ? 'invalid' : '' %>"
                        type="number"
                        name="home_longitude"
                        placeholder="Home Longitude"
                        value="<%= home_longitude; %>"
                        min="-180" max="180" step="0.00001"
                        required
                >
            </div>
            <div class="input-container">
                <i class="fa fa-solid fa-briefcase icon"></i>
                <input
                        class="half-width <%= errors.find(e => e.param === 'work_latitude') ? 'invalid' : '' %>"
                        type="number"
                        name="work_latitude"
                        placeholder="Work Latitude"
                        value="<%= work_latitude; %>"
                        min="-90" max="90" step="0.00001"
                        required
                >
                <input
                        class="half-width <%= errors.find(e => e.param === 'work_longitude') ? 'invalid' : '' %>"
                        type="number"
                        name="work_longitude"
                        placeholder="Work Longitude"
                        value="<%= work_longitude; %>"
                        min="-180" max="180" step="0.00001"
                        required
                >
            </div>
            <div class="input-container">
                <i class="fa fa-calendar icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'calendars') ? 'invalid' : '' %>"
                        type="text"
                        name="calendars"
                        placeholder="Calendars"
                        value="<%= calendars; %>"
                >
            </div>
            <div class="input-container">
                <i class="fa fa-globe icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'locale') ? 'invalid' : '' %>"
                        type="text"
                        name="locale"
                        placeholder="Locale (default: en-US)"
                        value="<%= locale; %>"
                        required
                >
            </div>
            <div class="input-container">
                <i class="fa fa-clock icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'time_zone') ? 'invalid' : '' %>"
                        type="text"
                        name="time_zone"
                        placeholder="Time Zone (default: Etc/Zulu)"
                        value="<%= time_zone; %>"
                        required
                >
            </div>
            <div class="input-container">
                <i class="fa fa-lock icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                        id="password"
                        type="password"
                        name="password"
                        placeholder="Password"
                        value="<%= password %>"
                >
            </div>
            <div class="input-container">
                <i class="fa fa-solid fa-rotate-right icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'confirm_password') ? 'invalid' : '' %>"
                        id="password-confirm"
                        type="password"
                        name="confirm_password"
                        placeholder="Confirm Password"
                        value="<%= confirm_password %>"
                >
            </div>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>

<%- include('includes/end.ejs') %>