<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/content/signup.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
<header class="main-header">
    <div id="daily-dash-banner">
        <p>Daily Dash</p>
    </div>
</header>
<div class="signup-page">
    <div class="signup-area">
        <% if(errorMessage) { %>
            <div class="error-message"><%= errorMessage; %></div>
        <% } %>
        <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input type="text" name="username" placeholder="Username" required value="<%= username %>">
            </div>
            <div class="input-container">
                <i class="fa fa-solid fa-address-card icon"></i>
                <input type="text" name="first_name" placeholder="First Name" required class="half-width"
                       value="<%= first_name %>">
                <input type="text" name="last_name" placeholder="Last Name" required class="half-width"
                       value="<%= last_name %>">
            </div>
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input type="text" name="email" placeholder="E-Mail" required value="<%= email %>">
            </div>
            <div class="input-container">
                <i class="fa fa-lock icon"></i>
                <input type="password" name="password" placeholder="Password" required id="password"
                       value="<%= password %>">
            </div>
            <div class="input-container">
                <i class="fa fa-solid fa-rotate-right icon"></i>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required
                       id="password-confirm" value="<%= confirm_password %>">
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already registered? <a href="/login">Login</a></p>
    </div>
</div>

<%- include('includes/end.ejs') %>