<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/content/signup.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
<header class="main-header">
    <div id="daily-dash-banner">
        <p>Daily Dash</p>
    </div>
</header>
<div class="signup-page">
    <div class="signup-area">
        <% if(errorMessage) { %>
            <div class="error-message"><%= errorMessage; %></div>
        <% } %>
        <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'username') ? 'invalid' : '' %>"
                        type="text"
                        name="username"
                        placeholder="Username"
                        value="<%= username %>"
                        required
                >
            </div>
            <div class="input-container">
                <i class="fa fa-solid fa-address-card icon"></i>
                <input
                        class="half-width <%= errors.find(e => e.param === 'first_name') ? 'invalid' : '' %>"
                        type="text"
                        name="first_name"
                        placeholder="First Name"
                        value="<%= first_name %>"
                        required
                >
                <input
                        class="half-width <%= errors.find(e => e.param === 'last_name') ? 'invalid' : '' %>"
                        type="text"
                        name="last_name"
                        placeholder="Last Name"
                        value="<%= last_name %>"
                        required
                >
            </div>
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                        type="text"
                        name="email"
                        placeholder="E-Mail"
                        value="<%= email %>"
                        required
                >
            </div>
            <div class="input-container">
                <i class="fa fa-lock icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                        id="password"
                        type="password"
                        name="password"
                        placeholder="Password"
                        value="<%= password %>"
                        required
                >
            </div>
            <div class="input-container">
                <i class="fa fa-solid fa-rotate-right icon"></i>
                <input
                        class="<%= errors.find(e => e.param === 'confirm_password') ? 'invalid' : '' %>"
                        id="password-confirm"
                        type="password"
                        name="confirm_password"
                        placeholder="Confirm Password"
                        value="<%= confirm_password %>"
                        required
                >
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already registered? <a href="/login">Login</a></p>
    </div>
</div>

<%- include('includes/end.ejs') %>